<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{client/main-layout.html :: layout (~{::title}, ~{::#layout})}">

<head>
	<title>Thanh toán</title>
</head>
<main id="layout">
	<div class="site-wrapper" id="top" ng-controller="checkOutController">
		<section class="breadcrumb-section">
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
							<li class="breadcrumb-item active">Thanh toán</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Checkout Form s-->
						<div class="checkout-form">
							<div class="row row-40">
								<div class="col-lg-7 mb--20">
									<!-- Billing Address -->
									<div id="billing-form" class="mb-40">
										<h4 class="checkout-title">Thông tin người nhận</h4>
										<div class="row">
											<div class="col-md-12 col-12 mb--20">
												<label>Họ và tên</label>
												<input type="text" placeholder="Họ và tên">
											</div>
											<div class="col-md-12 mb--20">
												<label>Số điện thoại</label>
												<input type="text" placeholder="Số điện thoại">
											</div>
											<div class="col-md-12 mb--20 row">
												<div class="col-md-6 mb-3">
													<label for="provinceSelect">Tỉnh/Thành phố</label>
													<select id="provinceSelect" ng-model="selectedProvinceCode"
														ng-change="getListDistrict()">
														<option value="">Chọn tỉnh/thành phố</option>
														<option ng-repeat="province in listProvince"
															ng-value="{{province.code}}">{{province.name}}</option>
													</select>
												</div>
												<div class="col-md-6 mb-3">
													<label for="districtSelect">Quận/Huyện</label>
													<select id="districtSelect" ng-model="selectedDistrictCode"
														ng-change="getListWard()">
														<option value="">Chọn quận/huyện</option>
														<option ng-repeat="district in listDistrict"
															ng-value="{{district.code}}">{{district.name}}</option>
													</select>
												</div>
												<div class="col-md-6 mb-3">
													<label for="wardSelect">Phường/Xã</label>
													<select id="wardSelect" ng-model="selectedWard">
														<option value="">Chọn phường/xã</option>
														<option ng-repeat="ward in listWard" ng-value="{{ward.code}}">
															{{ward.name}}</option>
													</select>
												</div>
												<div class="col-md-6 mb-3">
													<label for="specificAddress">Địa chỉ cụ thể</label>
													<input type="text" id="specificAddress" ng-model="specificAddress"
														placeholder="Địa chỉ nhà cụ thể">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-5">
									<div class="row">
										<!-- Cart Total -->
										<div class="col-12">
											<div class="checkout-cart-total">
												<h2 class="checkout-title">Đơn hàng của bạn</h2>
												<h4>Sản phẩm <span>Thành tiền</span></h4>
												<ul>
													<li><span class="left">Cillum dolore tortor nisl X 01</span>
														<span class="right">$25.00</span>
													</li>
													<li><span class="left">Auctor gravida pellentesque X 02
														</span><span class="right">$50.00</span></li>
													<li><span class="left">Condimentum posuere consectetur X
															01</span>
														<span class="right">$29.00</span>
													</li>
													<li><span class="left">Habitasse dictumst elementum X
															01</span>
														<span class="right">$10.00</span>
													</li>
												</ul>
												<p>Tổng tiền <span>$104.00</span></p>
												<p>Phí giao hàng <span>$00.00</span></p>
												<h4>Tổng thanh toán <span>$104.00</span></h4>
												<h4>Tiền thành chữ ở đây</h4>
												<div class="method-notice mt--25">
												</div>
												<a href="/checkout-complete" class="place-order w-100">Thanh toán</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</main>
	</div>
	<!--=================================
Brands Slider
===================================== -->
	<section class="section-margin">
		<h2 class="sr-only">Brand Slider</h2>
		<div class="container">
			<div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
										"autoplay": true,
										"autoplaySpeed": 8000,
										"slidesToShow": 6
										}' data-slick-responsive='[
			{"breakpoint":992, "settings": {"slidesToShow": 4} },
			{"breakpoint":768, "settings": {"slidesToShow": 3} },
			{"breakpoint":575, "settings": {"slidesToShow": 3} },
			{"breakpoint":480, "settings": {"slidesToShow": 2} },
			{"breakpoint":320, "settings": {"slidesToShow": 1} }
		]'>
				<div class="single-slide">
					<img src="image/others/brand-1.jpg" alt="">
				</div>
				<div class="single-slide">
					<img src="image/others/brand-2.jpg" alt="">
				</div>
				<div class="single-slide">
					<img src="image/others/brand-3.jpg" alt="">
				</div>
				<div class="single-slide">
					<img src="image/others/brand-4.jpg" alt="">
				</div>
				<div class="single-slide">
					<img src="image/others/brand-5.jpg" alt="">
				</div>
				<div class="single-slide">
					<img src="image/others/brand-6.jpg" alt="">
				</div>
				<div class="single-slide">
					<img src="image/others/brand-1.jpg" alt="">
				</div>
				<div class="single-slide">
					<img src="image/others/brand-2.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
</main>

</html>