<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{client/main-layout.html :: layout (~{::title}, ~{::#layout})}">

<head>
  <title>Đăng nhập</title>
</head>
<main id="layout" ng-controller="loginController">
  <div class="container d-flex justify-content-center align-items-center mt-4 mb-4" style="width: 534px;">
    <div class="row border  p-3 bg-white shadow box-area">
      <!-- Add the Close Button -->
      <div class="col-md-12 right-box">
        <div class="row align-items-center">
          <div class="header-text text-center">
            <h2 class="text-uppercase">Đăng nhập</h2>
            <p>Chúng tôi rất vui khi có bạn trở lại.</p>
          </div>
          <form ng-submit="login()">
            <div class="input-group flex-nowrap mb-2">
              <label for="username" class="icon-form">
                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
              </label>
              <div class="form-floating full-with">
                  <input type="text" class="form-control" id="username" placeholder="Email hoặc Số Điện Thoại"
                         ng-model="userData.username">
                  <label for="username">Email hoặc Số Điện Thoại <label for="" class="text-danger">(*)</label></label>
              </div>
            </div>
            <div class="input-group flex-nowrap mb-2">
              <label for="username" class="icon-form">
                <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
              </label>
                <div class="form-floating full-with">
                    <input type="password" class="form-control" id="password" placeholder="Mật khẩu"
                           ng-model="userData.password">
                    <label for="password">Mật khẩu <label for="" class="text-danger">(*)</label></label>
                </div>
            </div>

            <div class="input-group border-0 mb-3 d-flex justify-content-between">
              <div class="form-check d-flex justify-content-between">
                <input type="checkbox" class="form-check-input" id="formCheck">
                <label for="formCheck" class="form-check-label text-secondary"><small>Ghi nhớ đăng
                    nhập</small></label>
              </div>
              <div class="forgot">
                <small><a href="/forgot-password" class="text-green forgot-password-link">Quên mật
                    khẩu?</a></small>
              </div>
            </div>
            <div class="input-group border-0 mb-3">
              <button type="submit" class="btn btn-lg btn-success1 w-100 fs-6">Đăng nhập</button>
            </div>
            <div class="row">
              <div class="col-12"><a th:href="@{/oauth2/authorization/google}" class="btn btn-lg btn-light  w-100 fs-6"
                                     style="border: 1px solid gainsboro;">
                <img src="/client/image/logoGoogle.png" style="width:20px" class="me-2"><small>Google</small></a>
              </div>
              <div class="dialog-footer d-flex justify-content-center align-items-center mt-3">
                <small>Bạn chưa có tài khoản?<a href="/resgister" class="text-green mx-1">Đăng
                  ký</a></small>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>

</html>