<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}"></title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.1/dist/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/client/css/plugins.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/client/css/main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/client/css/index.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/client/css/login-register.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/client/css/my-account.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/client/css/voucher.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/client/css/pages/cart.css">
  <link rel="shortcut icon" type="image/x-icon" href="/client/image/logo-book.png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <th-block th:fragment="menu-fahasha">
    <nav>
      <div class="top-bar-desktop">
        <div class="top-banner center_center">
          <a>
            <img src="/client/image/bg-images/Screenshot 2023-08-26 154049.png" alt="tophead">
          </a>
        </div>

        <div class="top-bar mouse-hover">
          <div class="top-bar-left" style=" margin-right: 10px;">
            <a href="/index">
              <div class="top-bar-logo" alt="logo">
                <img src="/client/image/logo-removebg-preview.png" alt="">
              </div>
            </a>
          </div>

          <div class="top-bar-search-container">
            <div class="top-bar-search">
              <input type="text" placeholder="Tìm kiếm sản phẩm mong muốn...">
              <span class="button"><i class='bx bx-search'></i></span>

            </div>
            <div class="top-bar-search-info">
              <div class="top-bar-search-info-headline">
                <span class="top-bar-search-info-headline-label">Cặp sách mới - kiến thức mới</span>
                <img class=" lazyloaded" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Artboard_11.3.jpg"
                  data-src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Artboard_11.3.jpg">
              </div>

              <div class="tu-khoa-hot">
                <span><img
                    src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_searchtrending_black.svg"></span>
                <span>Từ khoá Hot</span>
              </div>

              <div class="tu-khoa-hot-container">
                <div class="tu-khoa-hot-item col-md-4">
                  <img src="/client/image/img/search1.jpg" alt="search1">
                  <span>Muôn kiếp nhân sinh</span>
                </div>
                <div class="tu-khoa-hot-item col-md-4">
                  <img src="/client/image/img/search2.jpg" alt="search2">
                  <span>Giải tích cực chill</span>
                </div>
                <div class="tu-khoa-hot-item col-md-4">
                  <img src="/client/image/img/search3.jpg" alt="search3">
                  <span>Cây cam chanh của tôi</span>
                </div>
                <div class="tu-khoa-hot-item col-md-4">
                  <img src="/client/image/img/search4.jpg" alt="search4">
                  <span>Thỏ tám màu</span>
                </div>
                <div class="tu-khoa-hot-item col-md-4">
                  <img src="/client/image/img/search5.jpg" alt="search5">
                  <span>Bói tarot cực chuẩn</span>
                </div>
                <div class="tu-khoa-hot-item col-md-4">
                  <img src="/client/image/img/search6.jpg" alt="search6">
                  <span>Sách tâm lý cực cuốn</span>
                </div>
              </div>
              <div class="block_line" style="margin-top: 10px;">
                <div></div>
              </div>

              <div class="tu-khoa-hot" style="margin-top: 10px;">
                <span><img width="20px" height="20px"
                    src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu.svg"></span>
                <span>Chuyên mục nổi bật</span>
              </div>

              <div class="tu-khoa-hot-container" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="tu-khoa-hot-item col-md-3">
                  <img src="/client/image/img/search3.jpg" alt="search3">
                  <span>Cây cam chanh của tôi</span>
                </div>
                <div class="tu-khoa-hot-item col-md-3">
                  <img src="/client/image/img/search4.jpg" alt="search4">
                  <span>Thỏ tám màu</span>
                </div>
                <div class="tu-khoa-hot-item col-md-3">
                  <img src="/client/image/img/search5.jpg" alt="search5">
                  <span>Bói tarot cực chuẩn</span>
                </div>
                <div class="tu-khoa-hot-item col-md-3">
                  <img src="/client/image/img/search6.jpg" alt="search6">
                  <span>Sách tâm lý cực cuốn</span>
                </div>
              </div>
            </div>
          </div>


          <div class="center_center mouse-hover top-notif ">
            <a class="top-button-icon">
              <div class="center_center" style="margin-bottom:3px;">
                <div class="icon_nofi_gray"></div>
              </div>
              <div class="center_center">
                <div class="top_menu_label">Thông Báo</div>
              </div>
            </a>
            <div class="top-dropdown" style="padding: 5px 10px 15px 10px;margin-top: -30px; width: 16%">
              <div class="dropdown-pad">
                <div class="center_center" style="font-size: 1.23em; color: #0D0E0F;">
                  <span class="icon_nofi_black" style="margin-right: 5px;"></span>
                  <span>Thông báo</span>
                </div>
              </div>
              <div class="center_center">
                <span class="ico_notlogin"></span>
              </div>
              <div class="center_center" style="color: #0D0E0F; font-size: 1.23em; ">Vui lòng
                đăng nhập để
              </div>
              <div class="center_center" style="color: #0D0E0F; padding-bottom:24px; font-size: 1.23em;">xem
                thông báo</div>
              <a href="/login" style="margin-top: 5px;" class="button-default active">
                <span>Đăng nhập</span>
              </a>
              <a href="/resgister" style="margin-top: 10px;" class="button-default">
                <span>Đăng ký</span>
              </a>
            </div>
          </div>
          <div class="center_center mouse-hover cart-dropdown">
            <a class="top-button-icon">
              <div class="center_center" style="margin-bottom:3px;">
                <div class="icon_cart_gray"></div>
              </div>
              <div class="center_center">
                <div class="top_menu_label">Giỏ hàng</div>
              </div>
            </a>
            <!-- Model cart -->
            <div class="top-dropdown">
              <div class=" single-cart-block ">
                <div class="cart-product">
                  <a href="product-details.html" class="image">
                    <img src="/client/image/products/cart-product-1.jpg" alt="">
                  </a>
                  <div class="content">
                    <h3 class="title"><a href="product-details.html">Kodak PIXPRO
                        Astro Zoom AZ421 16 MP</a>
                    </h3>
                    <p class="price"><span class="qty">1 ×</span> £87.34</p>
                    <button class="cross-btn"><i class="fas fa-times"></i></button>
                  </div>
                </div>
              </div>
              <div class=" single-cart-block ">
                <div class="btn-block">
                  <a href="/cart" class="btn">Xem thêm <i class="fas fa-chevron-right"></i></a>
                  <a href="#!thanhtoan" class="btn btn--primary">Thanh toán <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <!-- End model cart -->
          </div>

          <div class="center_center mouse-hover top-account">
            <a href="/account" class="top-button-icon">
              <div class="center_center" style="margin-bottom:3px;">
                <div class="icon_account_gray"></div>
              </div>
              <div class="center_center">
                <div class="top_menu_label">Tài khoản</div>
              </div>
            </a>
            <div class="top-dropdown" style="padding: 5px 10px 15px 10px;width: 16%">
              <a href="/login" style="margin-top: 5px;" type="button" class="button-default active">
                <span>Đăng nhập</span>
              </a>
              <a href="/resgister" style="margin-top: 5px;" type="button" class="button-default">
                <span>Đăng ký</span>
              </a>
              <button style="margin-top: 5px;" type="button" class="button-facebook center_center">
                <span class="icon_facebook"></span>
                <span>Đăng nhập bằng Facebook</span>
              </button>
            </div>
          </div>

          <div class="center_center top-language mouse-hover" onclick="toggleLanguage()">
            <div class="top-language-flag center_center">
              <span class="top-language-flag-icon"></span>
              <span class="top-language-flag-seemore"></span>
            </div>
            <div class="top-language-dropdown" style="display: none;" id="top-language-dropdown">
              <div class="top-language-dropdown-item center_center">
                <span class="top-language-flag-icon"></span>
                <span class="top-language-dropdown-item-label">VN</span>
              </div>
              <div class="top-language-dropdown-item center_center">
                <span class="top-language-flag-icon-eng"></span>
                <span class="top-language-dropdown-item-label">EN</span>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="top-bar-mobile">
        <div class="top-banner-mobile">
          <a>
            <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/fahasa-logo.png" alt="FAHASA.COM">
          </a>
        </div>

        <div class="top-bar-child-mobile">
          <div class="top-bar-category-mobile mouse-hover">
            <a href="" class="link-icon hamburgur-icon off-canvas-btn"> <span class="ico_menu_white"></span></a>
          </div>

          <div class="top-bar-search-mobile" style="margin-left: 1%;">
            <input type="text" placeholder="Tìm kiếm sản phẩm mong muốn...">
          </div>

          <div class="top-bar-mobile-icon center_center">
            <span class="icon_cart_white"></span>
          </div>

          <div class="top-bar-mobile-icon center_center">
            <span class="login-cutomer-icon"></span>
          </div>

        </div>

    </nav>
  </th-block>

  <div class="site-wrapper" id="top">
    <th-block th:fragment="menu">
      <div class="site-header header-2 mb--20 d-none d-lg-block">
        <div class="header-bottom bg-primary">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-3">
                <nav class="category-nav white-nav ">
                  <div>
                    <a class="category-trigger"><i class="fa fa-bars"></i>Danh mục sản phẩm</a>
                    <ul class="category-menu">
                      <li class="cat-item has-children mega-menu">
                        <a href="#">Sách Trong Nước</a>
                        <ul class="sub-menu">
                          <li class="single-block">
                            <h3 class="title">Truyện</h3>
                            <ul>
                              <li><a href="#">Tiểu Thuyết</a></li>
                              <li><a href="#">Ngôn Tình</a></li>
                              <li><a href="#">Khoa Học Viễn Tưởng</a></li>
                              <li><a href="#">Kinh Dị</a></li>
                              <li><a href="#">Đam Mỹ</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                          <li class="single-block">
                            <h3 class="title">Giáo Khoa - Tham Khảo</h3>
                            <ul>
                              <li><a href="#">Sách Giáo Khoa</a></li>
                              <li><a href="#">Sách Tham Khảo</a></li>
                              <li><a href="#">Luyện Thi THPT Quốc Gia</a></li>
                              <li><a href="#">Mẫu Giáo</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                          <li class="single-block">
                            <h3 class="title">Sách Ngoại Ngữ</h3>
                            <ul>
                              <li><a href="#">Tiếng Anh</a></li>
                              <li><a href="#">Tiếng Nhật</a></li>
                              <li><a href="#">Tiếng Hoa</a></li>
                              <li><a href="#">Tiếng Hàn</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>

                        </ul>
                      </li>

                      <li class="cat-item has-children"><a href="#">Sách Nước Ngoài</a>
                        <ul class="sub-menu">
                          <li><a href="">Brake Tools</a></li>
                          <li><a href="">Driveshafts</a></li>
                          <li><a href="">Emergency Brake</a></li>
                          <li><a href="">Spools</a></li>
                        </ul>
                      </li>
                      <li class="cat-item has-children mega-menu"><a href="#">Dụng Cụ Học Sinh</a>
                        <ul class="sub-menu">
                          <li class="single-block">
                            <h3 class="title">Bút - Viết</h3>
                            <ul>
                              <li><a href="#">Bút Chì</a></li>
                              <li><a href="#">Bút Bi</a></li>
                              <li><a href="#">Bút Dạ Quang</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                          <li class="single-block">
                            <h3 class="title">Sản Phẩm Về Giấy</h3>
                            <ul>
                              <li><a href="#">Tập - Vở</a></li>
                              <li><a href="#">Sổ Tay</a></li>
                              <li><a href="#">Giất Note</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                          <li class="single-block">
                            <h3 class="title">Dụng Cụ Khác</h3>
                            <ul>
                              <li><a href="#">Hồ Dán</a></li>
                              <li><a href="#">Thước</a></li>
                              <li><a href="#">Hộp Bút - Hộp Viết</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="cat-item has-children mega-menu"><a href="#">Hành Trang Đến Trường</a>
                        <ul class="sub-menu">
                          <li class="single-block">
                            <h3 class="title">Sách Giáo Khoa - Tham Khảo</h3>
                            <ul>
                              <li><a href="#">Lớp 1</a></li>
                              <li><a href="#">Lớp 2</a></li>
                              <li><a href="#">Lớp 3</a></li>
                              <li><a href="#">Lớp 4</a></li>
                              <li><a href="#">Lớp 5</a></li>
                              <li><a href="#">Lớp 6</a></li>
                              <li><a href="#">Lớp 7</a></li>
                              <li><a href="#">Lớp 8</a></li>
                              <li><a href="#">Lớp 9</a></li>
                              <li><a href="#">Lớp 10</a></li>
                              <li><a href="#">Lớp 11</a></li>
                              <li><a href="#">Lớp 12</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>

                          <li class="single-block">
                            <h3 class="title">Luyện Thi THPTQG - Lớp 12</h3>
                            <ul>
                              <li><a href="#">Luyện Thi Môn Toán</a></li>
                              <li><a href="#">Luyện Thi Môn Văn</a></li>
                              <li><a href="#">Luyện Thi Môn Tiếng Anh</a></li>
                              <li><a href="#">Luyện Thi Môn Hóa</a></li>
                              <li><a href="#">Luyện Thi Môn Sinh Học</a></li>
                              <li><a href="#">Luyện Thi Môn Lịch Sử</a></li>
                              <li><a href="#">Luyện Thi Môn Địa Lý</a></li>
                              <li><a href="#">Luyện Thi Môn Vật Lý</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>

                      <li class="cat-item"><a href="#" class="js-expand-hidden-menu">Xem Nhiều Hơn</a></li>
                    </ul>
                  </div>
                </nav>

              </div>

              <!-- Menu chính -->

              <div class="col-lg-9">
                <div class="main-navigation flex-lg-right">
                  <ul class="main-menu menu-right main-menu--white  li-last-0">
                    <li class="menu-item has-children">
                      <a href="/index">Trang Chủ </a>
                    </li>
                    <!-- Shop -->
                    <li class="menu-item has-children ">

                      <a href="/product">Sản Phẩm </a>

                    </li>
                    <li class="menu-item  has-children">
                      <a href="/flash-sale">Ưu Đãi</a>
                    </li>

                    <li class="menu-item  has-children">
                      <a href="/voucher">Mã Khuyến Mãi</a>
                    </li>
                    <li class="menu-item  has-children">
                      <a href="/contact">Liên Hệ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th-block>

    <!-- Menu cuộn -->
    <th-block th:fragment="menu-mobie">
      <div class="site-mobile-menu">
        <!--Off Canvas Navigation Start-->
        <aside class="off-canvas-wrapper">
          <div class="btn-close-off-canvas">
            <i class="ion-android-close"></i>
          </div>
          <div class="off-canvas-inner">
            <!-- search box start -->
            <div class="search-box offcanvas">
              <form>
                <input type="text" placeholder="Search Here">
                <button class="search-btn"><i class="ion-ios-search-strong"></i></button>
              </form>
            </div>
            <!-- search box end -->
            <!-- mobile menu start -->
            <div class="mobile-navigation">
              <!-- mobile menu navigation start -->
              <nav class="off-canvas-nav">
                <ul class="mobile-menu main-mobile-menu">
                  <li class="menu-item-has-children">
                    <a href="/index">Trang Chủ </a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#">Sản Phẩm</a>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children">
                        <a href="#">Sách trong nước</a>
                        <ul class="sub-menu">
                          <li class="menu-item-has-children">
                            <a href="#">Giáo Khoa - Tham Khảo</a>
                            <ul class="sub-menu">
                              <li><a href="#">Sách Giáo Khoa</a></li>
                              <li><a href="#">Sách Tham Khảo</a></li>
                              <li><a href="#">Luyện Thi THPT Quốc Gia</a></li>
                              <li><a href="#">Mẫu Giáo</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="#">Sách Ngoại Ngữ</a>
                            <ul class="sub-menu">
                              <li><a href="#">Tiếng Anh</a></li>
                              <li><a href="#">Tiếng Nhật</a></li>
                              <li><a href="#">Tiếng Hoa</a></li>
                              <li><a href="#">Tiếng Hàn</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="">Truyện</a>
                            <ul class="sub-menu">
                              <li><a href="#">Tiểu Thuyết</a></li>
                              <li><a href="#">Ngôn Tình</a></li>
                              <li><a href="#">Khoa Học Viễn Tưởng</a></li>
                              <li><a href="#">Kinh Dị</a></li>
                              <li><a href="#">Đam Mỹ</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="#">Sách nước ngoài</a>
                        <ul class="sub-menu">
                          <li><a href="">Brake Tools</a></li>
                          <li><a href="">Driveshafts</a></li>
                          <li><a href="">Emergency Brake</a></li>
                          <li><a href="">Spools</a></li>
                          <li><a href="#" class="title-last">Xem tất cả</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="#">Dụng cụ học sinh</a>
                        <ul class="sub-menu">
                          <li><a href="#">Hồ Dán</a></li>
                          <li><a href="#">Thước</a></li>
                          <li><a href="#">Hộp Bút - Hộp Viết</a></li>
                          <li><a href="#" class="title-last">Xem tất cả</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="#">Hành trang đến trường</a>
                        <ul class="sub-menu">
                          <li class="menu-item-has-children">
                            <a href="#">Giáo Khoa - Tham Khảo</a>
                            <ul class="sub-menu">
                              <li><a href="#">Lớp 1</a></li>
                              <li><a href="#">Lớp 2</a></li>
                              <li><a href="#">Lớp 3</a></li>
                              <li><a href="#">Lớp 4</a></li>
                              <li><a href="#">Lớp 5</a></li>
                              <li><a href="#">Lớp 6</a></li>
                              <li><a href="#">Lớp 7</a></li>
                              <li><a href="#">Lớp 8</a></li>
                              <li><a href="#">Lớp 9</a></li>
                              <li><a href="#">Lớp 10</a></li>
                              <li><a href="#">Lớp 11</a></li>
                              <li><a href="#">Lớp 12</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="#">Luyện Thi THPTQG - Lớp 12</a>
                            <ul class="sub-menu">
                              <li><a href="#">Luyện Thi Môn Toán</a></li>
                              <li><a href="#">Luyện Thi Môn Văn</a></li>
                              <li><a href="#">Luyện Thi Môn Tiếng Anh</a></li>
                              <li><a href="#">Luyện Thi Môn Hóa</a></li>
                              <li><a href="#">Luyện Thi Môn Sinh Học</a></li>
                              <li><a href="#">Luyện Thi Môn Lịch Sử</a></li>
                              <li><a href="#">Luyện Thi Môn Địa Lý</a></li>
                              <li><a href="#">Luyện Thi Môn Vật Lý</a></li>
                              <li><a href="#" class="title-last">Xem tất cả</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="#!flash-sale">Ưu Đãi</a>
                  </li>
                  <li class="menu-item">
                    <a href="/voucher">Mã Khuyến Mãi</a>
                  </li>
                  <li class="menu-item">
                    <a href="/contact">Liên Hệ</a>
                  </li>
                </ul>
              </nav>
              <!-- mobile menu navigation end -->
            </div>

            <div class="off-canvas-bottom">
              <div class="contact-list mb--10">
                <a href="" class="sin-contact"><i class="fas fa-mobile-alt"></i>(+84) 886077296</a>
                <a href="" class="sin-contact"><i class="fas fa-envelope"></i>greenhousestore@gmail.com</a>
              </div>
              <div class="off-canvas-social">
                <a href="#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="single-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="single-icon"><i class="fas fa-rss"></i></a>
                <a href="#" class="single-icon"><i class="fab fa-youtube"></i></a>
                <a href="#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="single-icon"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </aside>
        <!--Off Canvas Navigation End-->
      </div>
    </th-block>

    <th-block th:fragment="menu-rolls">
      <div class="sticky-init fixed-header common-sticky">
        <div class="container d-none d-lg-block">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <a href="/index" class="site-brand">
                <img src="/client/image/GreenHouse_Logo.png" alt="">
              </a>
            </div>
            <div class="col-lg-8">
              <div class="main-navigation flex-lg-right">
                <ul class="main-menu menu-right ">
                  <li class="menu-item has-children">
                    <a href="/index">Trang Chủ </a>
                  </li>
                  <!-- Shop -->
                  <li class="menu-item has-children">
                    <a href="/product">Sản Phẩm </a>
                  </li>
                  <li class="menu-item">
                    <a href="/flash-sale">Ưu Đãi</a>
                  </li>
                  <li class="menu-item">
                    <a href="/voucher">Mã Khuyến Mãi</a>
                  </li>
                  <li class="menu-item">
                    <a href="/contact">Liên Hệ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th-block>

  </div>

  <th-block th:fragment="footer">
    <footer class="site-footer">
      <div class="container pt--30">
        <div class="row justify-content-between  pb--30">
          <div class=" col-xl-4 col-lg-4 col-sm-6 border-end border-success">
            <div class="single-footer pb--30 ">
              <div class="brand-footer footer-title">
                <img src="/client/image/GreenHouse_Logo.png" alt="">
              </div>
              <div class="footer-contact">
                <p><span class="label">Địa chỉ:</span>
                  Toà nhà FPT Polytechnic, Đ. Số 22, Thường Thạnh, Cái Răng, Cần Thơ, Vietnam</p>
                <p><span class="label">Điện thoại:</span><span class="text">1800.123.4569</span></p>
                <p><span class="label">Email:</span><span class="text">greenhousebook@gmail.com</span></p>

              </div>
            </div>
          </div>
          <div class=" col-xl-4 col-lg-2 col-sm-6 border-end border-success text-center">
            <div class="single-footer pb--40 ">
              <div class="footer-title">
                <h3>dịch vụ của Greenhouse</h3>
              </div>
              <ul class="footer-list normal-list">
                <li><a href="">Bảo mật thông tin cá nhân</a></li>
                <li><a href="">Bảo mật thanh toán</a></li>
                <li><a href="">Hệ thống uy tín</a></li>
                <li><a href="">Điều khoản sử dụng phù hợp</a></li>

              </ul>
            </div>
            <a href="#" class="payment-block">
              <img src="/client/image/icon/payment.png" alt="">
            </a>
          </div>

          <div class=" col-xl-4 col-lg-4 col-sm-6 text-center">
            <div class="footer-title">
              <h3>Hổ trợ và ưu đãi</h3>
            </div>
            <ul class="footer-list normal-list">
              <li><a href="">Được đổi - trả - hoàn tiền</a></li>
              <li><a href="">Được nhận ưu đãi bảo hành</a></li>
              <li><a href="">Vận chuyển hàng nhanh chóng</a></li>
              <li><a href="">Hình thức thanh toán tiện lợi</a></li>
              <li><a href="">Khuyến mãi cho khách hàng tiềm năng</a></li>

            </ul>
            <div class="social-block">

              <ul class="social-list list-inline">
                <li class="single-social facebook"><a href=""><i class="ion ion-social-facebook"></i></a>
                </li>
                <li class="single-social twitter"><a href=""><i class="ion ion-social-twitter"></i></a></li>
                <li class="single-social google"><a href=""><i class="ion ion-social-googleplus-outline"></i></a></li>
                <li class="single-social youtube"><a href=""><i class="ion ion-social-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p class="copyright-text"><a href="#" class="author">GreenHouse</a>&copy;2023, Designed &amp; Developed by
            team GreenHouse</p>
        </div>
      </div>
    </footer>
  </th-block>


  <th-block th:fragment="lib">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.1/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.1/dist/sweetalert2.min.js"></script>
    <script th:src="@{/client/js/plugins.js}"></script>
    <script th:src="@{/client/js/custom.js}"></script>
    <script th:src="@{/client/js/code.js}"></script>
    <!-- Controller -->
    <script th:src="@{/client/controller/app.js}"></script>
    <script th:src="@{/client/controller/account-controller.js}"></script>
    <script th:src="@{/client/controller/authenticate.js}"></script>
    <script th:src="@{/client/controller/signin.js}"></script>
  </th-block>
</body>

</html>