<div class="container-fluid" ng-controller="PublishersController">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="mb-2 page-title">Danh sách nhà xuất bản</h2>
      <div class="row my-4">
        <!-- Small table -->
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body">
              <!-- table -->
              <table class="table table-hover" >
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Tên nhà xuất bản</th>
                    <th>Mô tả</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Hình ảnh Logo</th>
                    <th></th>

                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="publisher in publishers">
                    <td>{{$index + 1}}</td>
                    <td>{{publisher.publisherId}}</td>
                    <td>{{publisher.publisherName}}</td>
                    <td>{{publisher.description}}</td>
                    <td>{{publisher.address}}</td>
                    <td>{{publisher.email}}</td>
                    <td>{{publisher.image}}</td>
                    <td>
                      <a ng-click="editPublisherAndRedirect(publisher.publisherId)"><i class="fe fe-edit fe-16"></i></a>    
                      <a ng-click="deletePublisher(publisher.publisherId)">
                        <i class="fe fe-trash-2 fe-16"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> <!-- simple table -->
      </div> <!-- end section -->
    </div> <!-- .col-12 -->
  </div> <!-- .row -->
</div> <!-- .container-fluid -->