<div class="container-fluid" ng-controller="AuthorController">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-header">
          <a type="button" class="btn btn-success" href="#!/author-table">
            Danh Sách Tác Giả
          </a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-header">
          <h4 class="card-title">Thông Tin Tác Giả</h4>
        </div>
        <div class="card-body">
          <form enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-8">
                <div class="form-row">
                  <div class="col-md-5 mb-3">
                    <label for="authorName">Tên Tác Giả(*)</label>
                    <input type="text" class="form-control" placeholder="Nhập tên tác giả" id="authorName"
                      name="authorName" ng-model="editingAuthor.authorName" />
                  </div>
                </div>
                <div class="form-row">

                  <div class="col-md-5 mb-3">
                    <label for="nation">Quốc Tịch(*)</label>
                    <select class="form-control select2" id="nationSelect" name="nation" ng-model="editingAuthor.nation">
                      <option value="" disabled>Chọn quốc tịch</option>
                      <option ng-repeat="nationality in nationalities" value="{{nationality}}">
                        {{nationality}}
                      </option>
                    </select>
                    
                    
                  </div>

                  <div class="col-md-5 mb-3">
                    <p class="mb-2">Giới Tính(*)</p>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="male" ng-value="true"
                        ng-model="editingAuthor.gender" />
                      <label class="form-check-label" for="male">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="female" ng-value="false"
                        ng-model="editingAuthor.gender" />
                      <label class="form-check-label" for="female">Nữ</label>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="saveAuthor(editingAuthor.authorName)">
                  {{ isEditing ? 'Lưu Sửa Đổi' : 'Thêm Tác Giả' }}
                </button>
                <button type="button" class="btn btn-primary" ng-click="resetForm()">Làm Mới</button>
              </div>
              <!-- /.col -->
              <div class="col-md-2 Upload ">
                <div class="row d-flex justify-content-center">
                  <img class="object-fit" ng-src="/images/{{editingAuthor.image}}" alt="Uploaded Image"
                    id="uploadedImage" name="image" style="max-height: 250px; width: 100%; border-radius: 10%;">

                </div>
                <div class="form-label h5 text-center">
                  <label for="price" class="form-label h6"><span class="text-danger"></span> Ảnh đại diện(*)</label>
                </div>


                <div class="row d-flex justify-content-center">
                  <label class="text-center mt-2 btn btn-dark w-100">
                    <i class="fa fa-upload"></i> 
                    Tải ảnh đại diện
                    <input type="file" name="file" style="object-fit: contain;" id="fileInput"
                      ng-model="editingAuthor.image" onchange="displayImage(event)" hidden accept=".png,.jpg,.jpeg" />
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>