<div class="container-fluid" ng-controller="AuthorController">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="mb-2 page-title">Thêm Tác Giả</h2>
      <div class="row my-4">
        <!-- Small table -->
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-header">
              <h4 class="card-title">Danh Sách Tác Giả</h4>
            </div>
            <div class="card-body">
              <!-- Đây là bảng hiển thị danh sách tác giả -->
              <table class="table datatables" id="dataTable-1">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>ID Tác Giả</th>
                    <th>Tên Tác Giả</th>
                    <th>Giới Tính</th>
                    <th>Quốc Tịch</th>
                    <th>Hình Ảnh</th>
                    <th>Sửa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="author in authors">
                    <td>{{$index + 1}}</td>
                    <td>{{author.authorId}}</td>
                    <td>{{author.authorName}}</td>
                    <td>{{author.gender ? 'Nam' : 'Nữ'}}</td>
                    <td>{{author.nation}}</td>
                    <td>{{author.image}}</td>
                    <td>
                      <button type="submit" class="btn btn-primary" ng-click="editAuthor(author)">Sửa</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- simple table -->
      </div>
      <!-- end section -->
    </div>
    <!-- .col-12 -->
  </div>
  <!-- .row -->
</div>
<!-- .container-fluid -->

<script>
  $("#dataTable-1").DataTable({
    autoWidth: true,
    lengthMenu: [
      [16, 32, 64, -1],
      [16, 32, 64, "All"],
    ],
  });
</script>
