<div class=" toolbar row mb-3">
    <div class="col-md-3">
        <div class="mb-3">
            <div class="col-sm-6">
                <label class="text-success">Ngày Bắt Đầu</label>
                <input type="date" ng-change="searchByDate()" ng-model="dateStart"
                       class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mb-3">
            <div class="col-sm-6">
                <label class="text-success">Ngày Kết Thúc</label>
                <input type="date" ng-change="searchByDate()" ng-model="dateEnd"
                       class="form-control"/>
            </div>
        </div>
    </div>
</div>