<div class="container-fluid" ng-controller="StaticOvertime">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        <h5 class="mb-3 mt-3 ml-3 ">Thống kê doanh thu</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row justify-content-center">
                        <div class="col-md-4 my-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <strong class="card-title">Tổng danh thu trong năm nay</strong>
                                            <p class="small mb-0"><span
                                                    class="fe fe-12 fe-arrow-up text-success"></span><span
                                                    class="text-muted">37.7%</span></p>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="sparkline inlinebar"></span>
                                        </div>
                                    </div> <!-- /. row -->
                                </div> <!-- /. card-body -->
                            </div> <!-- /. card -->
                        </div> <!-- /. col -->
                        <div class="col-md-4 my-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <strong class="card-title">Tổng doanh thu năm trước</strong>
                                            <p class="small mb-0"><span
                                                    class="fe fe-12 fe-arrow-up text-success"></span><span
                                                    class="text-muted">37.7%</span></p>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="sparkline inlinebar"></span>
                                        </div>
                                    </div> <!-- /. row -->
                                </div> <!-- /. card-body -->
                            </div> <!-- /. card -->
                        </div> <!-- /. col -->
                        <div class="col-md-4 my-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <strong class="card-title">Tổng doanh trong tháng hiện
                                                tại</strong>
                                            <p class="small mb-0"><span
                                                    class="fe fe-12 fe-arrow-up text-success"></span><span
                                                    class="text-muted">37.7%</span></p>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="sparkline inlinebar"></span>
                                        </div>
                                    </div> <!-- /. row -->
                                </div> <!-- /. card-body -->
                            </div> <!-- /. card -->
                        </div> <!-- /. col -->
                    </div> <!-- end section -->
                </div> <!-- .container-fluid -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card shadow">
                                <div class="card-header">
                                    <strong class="card-title mb-0">Số lượng tồn kho theo danh mục sản
                                        phẩm</strong>
                                    <div class="dropdown float-right">
                                        <button class="btn btn-sm btn-link text-muted dropdown-toggle p-0" type="button"
                                            id="rangeDropdown" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"> 7 days </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="rangeDropdown">
                                            <a class="dropdown-item small text-muted" href="#">30
                                                days</a>
                                            <a class="dropdown-item small active" href="#">90 days</a>
                                            <a class="dropdown-item small text-muted" href="#">All</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="barChartjs" width="400" height="300"></canvas>
                                </div> <!-- /.card-body -->
                            </div> <!-- /.card -->
                        </div> <!-- /. col -->
                        <div class="col-md-6 mb-4">
                            <div class="card shadow">
                                <div class="card-header">
                                    <strong class="card-title mb-0">Xu hướng thay đổi của giá trị tồn
                                        kho theo thời gian</strong>
                                    <span class="badge badge-light float-right mr-2">30 days</span>
                                    <span class="badge badge-light float-right mr-2">7 days</span>
                                    <span class="badge badge-secondary float-right mr-2">Today</span>
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChartjs" width="400" height="300"></canvas>
                                </div> <!-- /.card-body -->
                            </div> <!-- /.card -->
                        </div> <!-- /. col -->
                    </div> <!-- end section -->
                </div> <!-- /. col -->
                <div class="col-md-12">

                    <div class="card shadow">
                        <div class="card-body">
                            <div class="toolbar row mb-3">
                                <div class="col">
                                    <form class="form-inline mr-auto  text-muted">
                                        <input class="form-control mr-sm-2 bg-transparent border-1 pl-4 text-muted"
                                            type="search" placeholder="Tìm kiếm..." aria-label="Search">
                                    </form>

                                </div>
                                <div class="col ml-auto">
                                    <div class="dropdown float-right">
                                        <button class="btn btn-secondary" type="button"><i
                                                class='bx bxs-file-export mr-1'></i> Xuất File </button>
                                    </div>
                                </div>
                            </div>
                            <div class="toolbar row mb-3">
                                <div class="col">
                                    <form class="form-inline d-flex justify-content-between">
                                        <div class="form-group">
                                            <label for="startDate" class="mr-2">Từ ngày:</label>
                                            <input class="form-control rounded" type="date" id="startDate">
                                        </div>
                                        <div class="form-group">
                                            <label for="endDate" class="mr-2">Đến ngày:</label>
                                            <input class="form-control rounded" type="date" id="endDate">
                                        </div>
                                        <button class="btn btn-warning btn-find">Tìm kiếm</button>
                                    </form>
                                </div>
                            </div>

                            <!-- table -->
                            <table class="table table-hover table-hover-green">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã hóa đơn</th>
                                    <th>Tên khách hàng</th>
                                    <th>Ngày tạo</th>
                                    <th>Tổng tiền</th>
                                    <th>Phí ship</th>
                                    <th>Tiền thanh toán</th>
                                    <th>Ngày thanh toán</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat-start="item in invoiceRepeat"
                                    data-toggle="collapse" data-target="#collapse-{{item.invoiceId}}">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.invoiceId}}</td>
                                    <td>{{item.account.fullname}}</td>
                                    <td>{{item.createDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.totalAmount}}</td>
                                    <td>{{item.shippingFee}}</td>
                                    <td>{{item.paymentAmount}}</td>
                                    <td>{{item.paymentDate | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr ng-repeat-end id="collapse-{{item.invoiceId}}" class="collapse">
                                    <td colspan="8">
                                        <table class="table table-bordered">
                                            <thead style="pointer-events: none;">
                                            <tr>
                                                <th class="text-center">Hình ảnh</th>
                                                <th class="text-center">Mã sản phẩm</th>
                                                <th class="text-center">Tên sản phẩm</th>
                                                <th class="text-center">Gía bán</th>
                                                <th class="text-center">Gía discount</th>
                                                <th class="text-center">Số lượng</th>
                                                <th class="text-center">Tổng giá</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="invoiceDetail in getListInvoiceDetailByInvoiceId(item.invoiceId) track by $index">
                                                <td>{{invoiceDetail.productDetail.image}}</td>
                                                <td>{{invoiceDetail.productDetail.product.productId}}</td>
                                                <td>{{invoiceDetail.productDetail.product.productName}}</td>
                                                <td>{{invoiceDetail.price}}</td>
                                                <td>{{invoiceDetail.priceDiscount}}</td>
                                                <td>{{invoiceDetail.quantity}}</td>
                                                <td>{{invoiceDetail.amount}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="toolbar">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Nút để ẩn/hiện body-profit -->
                                        <button class="btn btn-secondary" data-toggle="collapse"
                                                data-target="#bodyProfitCollapse" aria-expanded="false">
                                            <span id="toggleButtonText">Hiện doanh thu</span>
                                        </button>
                                        <!-- total-profit -->
                                        <div class="total-profit">
                                            <!-- body-profit -->
                                            <div id="bodyProfitCollapse" class="collapse">
                                                <div class="body-profit">
                                                    <div>
                                                        <h6>Tổng doanh thu:<span class="total">100000000000</span></h6>
                                                    </div>
                                                    <div>
                                                        <h6>Tổng chi phí:<span class="expense">10</span></h6>
                                                    </div>
                                                    <hr class="table-hr">
                                                    <div>
                                                        <h6>Tổng lợi nhuận:<span class="profit">90</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="toolbar">
                                <form class="form">
                                    <div class="form-row">
                                        <div class="form-inline col-auto mr-auto">
                                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref1">Show</label>
                                            <select class="mr-sm-2 form-control" id="inlineFormCustomSelectPref1"
                                                    ng-model="itemsPerPage"
                                                    ng-options="option for option in itemsPerPageOptions"
                                                    ng-change="currentPage = 1">
                                            </select>
                                        </div>
                                        <div class="form-group col-auto">
                                            <span>Đang xem {{ calculateRange() }}</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <ul uib-pagination ng-model="currentPage" total-items="totalItems"
                                items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm"
                                boundary-link-numbers="true" boundary-links="true" force-ellipses="true"
                                previous-text=" " next-text=" " first-text=" " last-text=" ">
                            </ul>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->