<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, layout)">

<th:block th:replace="~{client/layouts/template.html :: head (${title})}"></th:block>

<body>
  <th-block th:replace="~{client/layouts/template.html :: 'menu-fahasha'}"></th-block>
  
  <div class="site-wrapper" id="top">
    
    <th-block th:replace="~{client/layouts/template.html :: 'menu'}"></th-block>

    <th-block th:replace="~{client/layouts/template.html :: 'menu-mobie'}"></th-block>
   
    <th-block th:replace="~{client/layouts/template.html :: 'menu-rolls'}"></th-block>
    
    <main th:replace="${layout}"></main>
  </div>



  <th-block th:replace="~{client/layouts/template.html :: footer}"></th-block>

  <!-- Modal login START -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content custom-modal">
        <div class="modal-body">
          <!----------------------- Main Container -------------------------->
          <div class="container d-flex justify-content-center align-items-center ">
            <!----------------------- Login Container -------------------------->
            <div class="row border  p-3 bg-white shadow box-area">
              <!-- Add the Close Button -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                style="position: relative; left: 95%;"></button>
              <div class="col-md-12 right-box">
                <div class="row align-items-center">
                  <div class="header-text text-center">
                    <h2 class="text-uppercase">Đăng nhập</h2>
                    <p>Chúng tôi rất vui khi có bạn trở lại.</p>
                  </div>
                  <form action="">
                    <div class="input-group flex-nowrap mb-2">
                      <div class="icon-form">
                        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                      </div>
                      <input type="text" class="input_frame" placeholder="Email hoặc Số Điện Thoại"
                        aria-label="Username" ng-model="username" name="username" ng-minlength="10" ng-maxlength="30"
                        required autofocus>
                    </div>
                    <div class="input-group flex-nowrap mb-2">
                      <div class="icon-form">
                        <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                      </div>
                      <input type="password" class="input_frame" placeholder="Mật Khẩu" aria-label="Password"
                        aria-describedby="addon-wrapping" name="pass" required>

                    </div>
                    
                    <div class="input-group border-0 mb-3 d-flex justify-content-between">
                      <div class="form-check d-flex justify-content-between">
                        <input type="checkbox" class="form-check-input" id="formCheck">
                        <label for="formCheck" class="form-check-label text-secondary"><small>Ghi nhớ đăng
                            nhập</small></label>
                      </div>
                      <div class="forgot">
                        <small><a href="#" class="text-green forgot-password-link" data-bs-toggle="modal"
                            data-bs-target="#forgotPasswordModal" onclick="openForgotPasswordModal()">Quên mật
                            khẩu?</a></small>
                      </div>
                    </div>
                    <div class="input-group border-0 mb-3">
                      <button class="btn btn-lg btn-success1 w-100 fs-6">Đăng nhập</button>
                    </div>
                    <div class="row">
                      <div class="col-6"><a href="#" class="btn btn-lg btn-light  w-100 fs-6"
                          style="border: 1px solid gainsboro;"><img src="/client/image/logoGoogle.png" style="width:20px"
                            class="me-2"><small>Google</small></a></div>
                      <div class="col-6"> <a href="#" class="btn btn-lg btn-light w-100 fs-6"
                          style="border: 1px solid gainsboro;"><img src="/client/image/logoFacebook.png" style="width:20px"
                            class="me-2"><small>Facebook</small></a></div>
                    </div>

                    <div class="dialog-footer d-flex justify-content-center align-items-center mt-3">
                      <small>Bạn chưa có tài khoản?<a href="#" class="text-green mx-1" data-bs-toggle="modal"
                          data-bs-target="#siginModal">Đăng
                          ký</a></small>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal login END -->

  <!-- Modal signin START -->
  <div class="modal fade" id="siginModal" tabindex="-1" aria-labelledby="siginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content custom-modal">
        <div class="modal-body">
          <div class="container d-flex justify-content-center align-items-center">
            <!-- Register Container -->
            <div class="row border  p-3 bg-white shadow box-area">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                style="position: relative; left: 95%;"></button>
              <div class="col-md-12 right-box">
                <div class="row align-items-center">
                  <div class="header-text mb-4 text-center">
                    <h2 class="text-uppercase">Đăng ký</h2>
                    <p>Khám phá sách tuyệt vời và những tính năng độc đáo tại trang web.</p>
                  </div>
                  <form action="">
                    <!-- Trường Họ và tên -->
                    <div class="input-group flex-nowrap mb-2">
                      <div class="icon-form">
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                      </div>
                      <input type="text" class="input_frame" placeholder="Nhập vào Username" required>
                    </div>
                    <!-- Trường Tên tài khoản -->
                    <div class="input-group flex-nowrap mb-2">
                      <div class="icon-form">
                        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                      </div>
                      <input type="text" class="input_frame" placeholder="Email hoặc Số Điện Thoại"
                        aria-label="Username" ng-model="username" name="username" ng-minlength="10" ng-maxlength="30"
                        required autofocus>
                    </div>

                    <!-- OTP -->
                    <div class="form-floating form-floating-row flex-nowrap mb-2">
                      <input style="padding-left: 15px" placeholder="Nhập mã xác thực 6 số" type="text" name="code" title="Code"
                        class="input_frame col-8">
                      <a class="input_frame1" href="#">Gửi mã OTP</a>
                    </div>
                    <!-- Trường Mật khẩu -->
                    <div class="input-group flex-nowrap mb-2">
                      <div class="icon-form">
                        <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                      </div>
                      <input type="password" class="input_frame" placeholder="Mật Khẩu" aria-label="Password"
                        aria-describedby="addon-wrapping" name="password" required>
                    </div>
                    <!-- Trường Nhập lại mật khẩu -->
                    <div class="input-group flex-nowrap mb-2">
                      <div class="icon-form">
                        <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                      </div>
                      <input type="password" class="input_frame" placeholder="Xác Nhận Mật Khẩu"
                        aria-label="Confirm-Password" aria-describedby="addon-wrapping" name="repassword" required>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-left mb-4">
                      <input class="form-check-input " type="checkbox" value="" id="registerCheck" checked>
                      <label class="form-check-label" for="registerCheck">
                        Tôi đã đọc và đồng ý với các điều khoản.
                      </label>
                    </div>

                    <div class="mb-3">
                      <button class="btn btn-lg btn-success1 w-100 fs-6">Đăng ký</button>
                    </div>
                    <div class="dialog-footer d-flex justify-content-center align-items-center mt-3">
                      <small>Bạn đã có tài khoản? <a href="#!taikhoan" class="text-green" data-bs-toggle="modal"
                          data-bs-target="#loginModal">Đăng
                          nhập</a></small>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal signin END -->

  <!-- Modal forgot password START -->
  <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="container d-flex justify-content-center align-items-center ">
          <div class="row border  p-3 bg-white shadow box-area">
            <!-- Add the Close Button -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              style="position: relative; left: 95%;"></button>
            <div class="col-md-12 right-box">
              <div class="row align-items-center">
                <div class="header-text text-center">
                  <h2 class=" text-uppercase">Quên Mật Khẩu</h2>
                  <p class="fs-12">Nhập địa chỉ email hoặc số điện thoại của bạn dưới đây hệ thống sẽ gửi bạn một liên
                    kết để đặt lại mật khẩu của bạn </p>
                </div>
                <form action="">
                  <div class="input-group flex-nowrap mb-2">
                    <div class="icon-form">
                      <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    <input type="text" class="input_frame" placeholder="Email hoặc Số Điện Thoại" aria-label="Username"
                      name="username" ng-minlength="10" ng-maxlength="30" required autofocus>
                  </div>
                  <!-- OTP -->
                  <div class="form-floating form-floating-row flex-nowrap  mb-4">
                    <input placeholder="Nhập mã xác thực 6 số" type="text" name="code" title="Code"
                      class="input_frame col-8">
                    <a class="input_frame1" href="#">Gửi mã OTP</a>
                  </div>

                  <div class="input-group border-0">
                    <button class="btn btn-lg btn-success1 w-100 fs-6">Đăng nhập</button>
                  </div>

                  <div class="dialog-footer d-flex justify-content-center align-items-center mt-3">
                    <small>Bạn chưa có tài khoản?<a href="#" class="text-green mx-1" data-bs-toggle="modal"
                        data-bs-target="#siginModal">Đăng
                        ký</a></small>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Modal forgot password END -->

  <th-block th:replace="~{client/layouts/template.html :: lib}"></th-block>
</body>

</html>