<div class="container-fluid" ng-controller="ProductImageController">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <a type="button" class="btn btn-success" href="#!/productImage-table">
                        Danh Sách Nhiều Ảnh Sản Phẩm Chi Tiết
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h4 class="card-title">Thông Tin Nhiều Ảnh Sản Phẩm Chi Tiết</h4>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div class="col-md-5 mb-3">
                                        <label for="id">ID(*)</label>
                                        <input type="text" class="form-control" placeholder="ID tự động" id="id"
                                               ng-disabled="isEditing"
                                               name="id" ng-model="editingProductImage.id"/>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label for="productDetail">Tên Sản Phẩm(*)</label>
                                        <input type="text" class="form-control" placeholder="ID Sản Phẩm chi tiết"
                                               id="productDetail"
                                               name="productDetail"
                                               ng-model="editingProductImage.productDetail.productDetailId"/>
                                    </div>
                                </div>
                            </div>

                            <!-- ảnh chi tiết -->
                            <div class="col-md-5 mb-3">
                                <label class="col-form-label">(*) Thêm hình ảnh:</label>
                            </div>
                            <!-- Trong mã HTML của bạn -->
                            <div class="row col-12">
                                <label class="custom-file-upload">
                                    <input type="file" hidden accept="image/*" multiple name="images"
                                           onchange="angular.element(this).scope().onImageSelect(event)"/>
                                    <div class="upload-icon">
                                        <i class="bx bx-camera"></i>
                                    </div>
                                    <p>Chọn ảnh</p>
                                </label>
                                <!-- Hiển thị danh sách các ảnh đã chọn -->
                                <div class="col-4 text-center mb-3 position-relative"
                                     ng-repeat="image in selectedImages track by $index">
                                    <label for="" class="detail-img-label">
                                        <div class="image-container">
                                            <img ng-src="{{image.url}}" class="img-fluid detail-img"
                                                 alt="Ảnh chi tiết"/>
                                            <button type="button" class="btn-danger btn-sm delete-btn"
                                                    ng-click="deleteImage($index)">
                                                X
                                            </button>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- end -->

                            <div class="form-group mb-3">
                                <button type="button" class="btn btn-primary"
                                        ng-click="saveProductImage(editingProductImage.id)">
                                    {{ isEditing ? 'Lưu Sửa Đổi' : 'Thêm Nhiều Ảnh' }}
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="resetForm()">
                                    Làm Mới
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    row.col-12 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        /* Để canh trên cùng */
        margin-bottom: 10px;
    }

    .col-4 {
        width: 20%;
        margin-bottom: 10px;
    }

    .custom-file-upload {
        position: relative;
        display: flex;
        /* Sử dụng flex để canh các phần tử cùng hàng theo chiều ngang */
        flex-direction: column;
        /* Để các phần tử nằm dọc khi tràn hàng */
        align-items: center;
        width: 100px;
        height: 100px;
        background: #fff;
        border: 1px dashed #ccc;
        padding: 15px 20px;
        margin-left: 20px;
        margin-right: 30px;
        text-align: center;
        cursor: pointer;
    }

    .custom-file-upload input {
        display: none;
    }

    .upload-icon {
        font-size: 24px;
        color: #c2bfbf;
        margin-bottom: 10px;
    }

    .custom-file-upload p {
        font-size: 0.8rem;
        color: #c2bfbf;
    }

    .detail-img-label {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 1px dashed #ccc;
        text-align: center;
        vertical-align: top;
        line-height: 100px;
        margin-left: -10px;
        cursor: pointer;
        position: relative;
    }

    .detail-img {
        max-width: 100px;
        max-height: 95px;
        object-fit: cover;
        object-position: center;
    }

    .image-container {
        display: inline-block;
    }

    .delete-btn {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        background: rgb(126 122 122 / 40%);
        border-radius: 0px;
        outline: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        justify-content: center;
        top: 0;
        padding: 0;
    }
</style>