<div ng-controller="flashsaleController" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">

      <div class="row ">
        <!-- Small table -->

        <div class="col-md-12">
          <div class="card mb-2">
            <h5 class="mb-3 mt-3 ml-3 ">Danh Sách Chiến Dịch Flash Sale</h5>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <div class="toolbar row mb-3">
                <div class="col">
                  <!-- Tim kiem -->
                  <div class="form-inline mb-2">
                    <div class="input-container">
                      <div class="input-wrapper">
                        <i class="fe fe-search fe-18 icon"></i>
                        <!--  -->
                        <input class="form-control input" type="search" placeholder="Tìm kiếm..." ng-model="searchText">
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Chuc nang right -->
                <div class="col ml-auto">
                  <div class="dropdown float-right">
                    <button class="btn btn-default border-1 float-right ml-3 dropdown-toggle" type="button"
                      id="btnnhaphang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tất cả trạng thái</button>
                    <div class="dropdown-menu" aria-labelledby="btnnhaphang">
                      <a class="dropdown-item" href="#">Nhập File Excel</a>
                      <a class="dropdown-item" href="#">Nhập Mới</a>

                    </div>
                    <a class="btn btn-info " href="#!/flashsale-form"> <i class='bx bx-plus-medical mr-1'></i> Tạo Chiến
                      Dịch
                    </a>

                  </div>
                </div>

              </div>

              <!-- table -->
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th><a>#</a></th>
                    <th>
                      <a ng-click="sortBy('item[0]')" href="" style="text-decoration: none;">
                        Tên Flash Sale
                        <i class="mdi mdi-swap-vertical"></i>
                      </a>
                    </th>
                    <th>
                      <a ng-click="sortBy('item[1]')" href="" style="text-decoration: none;">
                        Bắt Đầu <i class="mdi mdi-swap-vertical"></i>
                      </a>
                    </th>
                    <th>
                      <a ng-click="sortBy('item[2]')" href="" style="text-decoration: none;">
                        Kết Thúc <i class="mdi mdi-swap-vertical"></i>
                      </a>
                    </th>
                    <th>
                      <a ng-click="sortBy('item[3]')" href="" style="text-decoration: none;">
                        Ngày Sale <i class="mdi mdi-swap-vertical"></i>
                      </a>
                    </th>
                    <th>
                      <a ng-click="sortBy('item[4]')" href="" style="text-decoration: none;">
                        (%)Chiếc Khấu <i class="mdi mdi-swap-vertical"></i>
                      </a>
                    </th>
                    <th>
                      <a ng-click="sortBy('item[5]')" href="" style="text-decoration: none;">
                        SL Sản Phẩm <i class="mdi mdi-swap-vertical"></i>
                      </a>
                    </th>
                    <th>
                      <a ng-click="sortBy('item[6]')" href="" style="text-decoration: none;">
                        SL Sử Dụng <i class="mdi mdi-swap-vertical"></i>
                      </a>
                    </th>
                    <th>
                      <a ng-click="sortBy('item[7]')" href="" style="text-decoration: none;">
                        Trạng Thái <i class="mdi mdi-swap-vertical"></i>
                      </a>
                    </th>
                    <th><a>Action</a></th>
                  </tr>
                </thead>
                <!--  " -->
                <tbody>
                  <tr ng-repeat="item in flashsales| filter: searchText  | orderBy:sortField:reverseSort">
                    <td>{{($index + 1) + (currentPage - 1) * itemsPerPage}}</td>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3] | date:'dd/MM/yyyy' }}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                    <td>
                        <span ng-if="item[6] === 1" class="badge badge-pill badge-warning">Đã lên lịch</span>
                        <span ng-if="item[6] === 2" class="badge badge-pill badge-success">Đang sử dụng</span>
                        <span ng-if="item[6] === 3" class="badge badge-pill badge-danger">Hết Hạn</span>
                    </td>

                    <td>
                      <a href="#">
                        <i class="fe fe-edit fe-16"></i>
                      </a>
                      <a href="#">
                        <i class="fe fe-trash-2 fe-16"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="toolbar">
                <form class="form">
                    <div class="form-row">
                        <div class="form-inline col-auto mr-auto">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref1">Show</label>
                            <select class="mr-sm-2 form-control" id="inlineFormCustomSelectPref1" ng-model="selectedItemsPerPage"
                                    ng-options="value for value in itemsPerPageOptions" ng-change="onItemsPerPageChange()">
                            </select>
                        </div>
                        <div class="form-group col-auto">
                          <span>Đang xem {{(currentPage-1)*itemsPerPage+1}} đến {{(currentPage*itemsPerPage > totalItems) ? 
                            totalItems : (currentPage*itemsPerPage)}} trên tổng số {{totalItems}}</span>

                             
                      </div>
                    </div>
                </form>
            </div>
            
            <nav aria-label="Table Paging" class="mb-0 text-muted">
              <ul class="pagination justify-content-center mb-0">
                  <li class="page-item" ng-class="{'disabled': currentPage === 1}">
                      <button class="page-link" type="button" ng-click="firstPage()">First</button>
                  </li>
                  <li class="page-item" ng-class="{'disabled': currentPage === 1}">
                      <button class="page-link" type="button" ng-click="prevPage()" ng-disabled="currentPage === 1">Previous</button>
                  </li>
                  <li class="page-item" ng-show="currentPage > 2"><span>...</span></li>
                  <li class="page-item" ng-repeat="page in visiblePages" ng-class="{'active': page === currentPage}">
                      <button type="button" class="page-link" ng-click="setPage(page)">{{ page }}</button>
                  </li>
                  <li class="page-item" ng-show="currentPage < pageCount - 1 && showLastDots">
                      <span>...</span>
                  </li>
                  <li class="page-item" ng-show="currentPage < pageCount && !showLastDots">
                      <button type="button" class="page-link" ng-click="setPage(pageCount)">{{ pageCount }}</button>
                  </li>
                  <li class="page-item" ng-class="{'disabled': currentPage === pageCount}">
                      <button class="page-link" type="button" ng-click="nextPage()" ng-disabled="currentPage === pageCount">Next</button>
                  </li>
                  <li class="page-item" ng-class="{'disabled': currentPage === pageCount}">
                      <button class="page-link" type="button" ng-click="lastPage()">Last</button>
                  </li>
              </ul>
          </nav>
          
            </div>

          </div>
        </div>

      </div> <!-- simple table -->
    </div> <!-- end section -->
  </div> <!-- .col-12 -->
</div> <!-- .row -->
</div> <!-- .container-fluid -->