<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
        <div class="card mb-2">
            <h3 class="mb-3 mt-3 ml-3">Danh sách khuyến mãi</h3>
        </div>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="form-inline mb-2 form-group">
                            <div class="input-container ">
                                <div class="input-wrapper col-lg-9">
                                    <i class="fe fe-search fe-18 icon"></i>
                                    <input class="form-control input" type="search" placeholder="Tìm kiếm..."
                                           aria-label="Search">
                                </div>

                            </div>
                            <div class="button-add col-lg-3">
                                <a type="button" class="btn btn-success" href="#!/voucher-form">
                                    Thêm khuyến mãi
                                </a>
                            </div>
                        </div>
                        <!-- table -->
                        <table class="table datatables" id="dataTable-1">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã Khuyến Mãi</th>
                                <th>Ngày Bắt Đầu</th>
                                <th>Ngày Kết Thúc</th>
                                <th>Loại sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Ngày Kết Thúc</th>
                                <th>Giá Tiền Chiếc Khấu</th>
                                <th>Số Lượng Sử Dụng</th>
                                <th>Trạng Thái</th>
                                <th>Tổng Số Lượng</th>
                                <th>Sửa</th>

                            </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>PROMO10</td>
                    <td>2023-09-15 00:00:00</td>
                    <td>2023-09-30 23:59:59</td>
                    <td>L01</td>
                    <td>Thỏ 7 Màu </td>
                    <td>100</td>
                    <td>2023-09-30</td>
                    <td>100.000</td>
                    <td>10</td>
                    <td>Chưa sử dụng</td>
                    <td>
                        <a ng-click="editAccountsAndRedirect(account.username)"><i class="fe fe-edit fe-16"></i></a>
                        <a ng-click="deleteAccounts(account.username)">
                            <i class="fe fe-trash-2 fe-16"></i>
                    </td>
                </tr>



                </tbody>
              </table>
            </div>
          </div>
        </div> <!-- simple table -->
      </div> <!-- end section -->
    </div> <!-- .col-12 -->
  </div> <!-- .row -->
</div> <!-- .container-fluid -->